.boj-r-ac {
    color: #009874;
	font-weight: bold;
}
.boj-r-pac {
	color: #efc050;
	font-weight: bold;
}
.boj-r-wa {
	color: #dd4124;
}
.boj-r-pe, .boj-r-tle, .boj-r-mle, .boj-r-ole {
	color: #fa7268;
}
.boj-r-rte {
	color: #5f4b8b;
}
.boj-r-ce {
	color: #0f4c81;
}
.boj-r-wait, .boj-r-rejudge-wait, .boj-r-nojudge {
	color: #a49e9e;
}
.boj-r-compile, .boj-r-judging {
	color: #e67e22;
}
.boj-r-co, .boj-r-del {
	color: black;
	text-decoration: line-through;
}
.boj-r-rejudge {
	color: #a49e9e !important;
}
.boj-l {
    display: inline;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    padding: 4px 7px;
	font-size: 0.8rem;
}
.boj-l-spj, .boj-l-partial, .boj-l-feedback {
	background-color: #5bc0de;
}
.boj-l-full, .boj-l-interactive, .boj-l-func, .boj-l-two-steps, .boj-l-class {
	background-color: #27d7e7;
}
.boj-l-random-killer, .boj-l-unofficial {
	background-color: #1abc9c;
}
.boj-l-preparing, .boj-l-deleted {
	background-color: #f0ad4e;
}
.boj-l-subtask {
	background-color: #555;
}
.boj-l-ac {
	background-color: #5cb85c;
}
.boj-l-pac {
	background-color: #efc050;
}
.boj-l-wa {
	background-color: #d9534f;
}
.boj-l-submit-limit, .boj-l-language-restrict {
	background-color: #4765a0;
}
.boj-l-time-acc {
	background-color: #9c8061;
}
.boj-l-multilang, .boj-l-bookmark {
	background-color: #777;
}
.boj-t-img {
	display: inline !important;
	line-height: inherit;
	width: 1.2rem;
	height: 1.2rem;
	vertical-align: middle;
}
.boj-t-text-nr {
	color: #000;
}
.boj-t-text-bronze {
	color: #ad5600;
}
.boj-t-text-silver {
	color: #435f7a;
}
.boj-t-text-gold {
	color: #ec9a00;
}
.boj-t-text-platinum {
	color: #27e2a4;
}
.boj-t-text-diamond {
	color: #00b4fc;
}
.boj-t-text-ruby {
	color: #ff0062;
}
.boj-t-text-master {
    background-color: rgb(180, 145, 255);
    background-image: linear-gradient(0deg, rgb(255, 124, 168), rgb(180, 145, 255), rgb(124, 249, 255));
    background-size: 80%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
    background-repeat: repeat;
}
.boj-t-text-admin {
	color: #17ce3a;
}
.boj-u {
	font-weight: bold;
	box-shadow: none !important;
	white-space: nowrap;
}
.boj-u-profile {
	display: inline !important;
	line-height: inherit;
	width: 20px;
	height: 20px;
	vertical-align: middle;
	background-color: rgb(0, 0, 0);
	border-radius: 50%;
}